<div class="text-center">
    <h1 class="display-4">Josué Reyes</h1>
    <h2>Desarrollador backend, especializado en tecnologias .Net</h2>
    <img src="~/img/IMG_20191127_124929.jpg" alt="Foto de Josue Reyes" id="foto"/>
</div>

<div class="text-center">
    <img id="background-foto" src="~/img/backgroubd.jpg" alt="imagen de fondo"/>
</div>

<div class="row justify-content-center text-center" id="Welcome">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Hola, Te doy la bienvenida a mi portafolio.</h1>
        <p>
            Desde mi formación academica en la Universidad Tecnologica de Tecamachalco, he tenido el
            privilegio de poder partificipar en la industria del desarollo de software con empresas 
            como lo son ...

        </p>
    </div>
</div>