@model IEnumerable<ProyectoModel>

@if (Model != null)
{
        <div class="text-center" style="padding-top: 6rem;">
            <h1>Mis trabajos recientes</h1>
            <p>Acontinuacion algunos de los trabajos mas recientes</p>
        </div> 
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                        <div class="col">
                            <div class="card h-100">
                                <img src="@item.ImagenURL" class="card-img-top" alt="imagen proyecto"/>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Titulo</h5>
                                    <p class="card-text">@item.Descripcion</p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary" href="@item.Link" target="_blank" rel="noopener noreferrer">Visitar</a>
                                </div>
                            </div>
                        </div>
            }
            </div>
        </div>
}