@model IEnumerable<ProyectoModel>

@if (Model != null)
{
        <div class="text-center" style="padding-top: 6rem;">
            <h1>Mis trabajos recientes</h1>
            <p>Acontinuacion algunos de los trabajos mas recientes</p>
        </div> 
       <partial name="_ListadoProyectos" model="Model"/>
}