@model TypeAccountModel;

@{
    ViewData["Title"] = "Borrar tipo cuenta";
}

<h3 class="mb-3">¿Estas seguro de borrar @Model.Name </h3>

<form asp-action="DeleteTypeAccount">
    <input type="hidden" asp-for="@Model.Id" />
    <button type="submit" class="btn btn-danger"> Borrar </button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>